body{margin: 0;
    display: flex ;
    align-items: center;
    flex-direction: column;
}

#page{
    width: calc(200%/3);
        
}

#navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(142, 195, 166);
    position: absolute;
    
}
#navbar1{
    display:flex;
    justify-content: center;
    background-color: rgb(156, 124, 186);
}

#Silicon_hela{
    display: flex;
}

#silicon{
    margin-left: 3px;
}

#navbar2{
    background-color: rgb(168, 98, 98);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hela_darkmode{
    display: flex;
    align-items: center;
    background-color: tomato;
    height: 100%;
    width: 150px;
}

#darkmode_text{
    background-color: yellow;
    display: flex;
    align-items: center;
    
    height: 100%;
    color: blue;
    
    
    
}


#darkmode_text p{
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;

}

#Signin_up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 6px;
    background-color: rgb(68, 63, 170);
    width: 120px;
    height: 30px;
    vertical-align: middle;
    text-align: center;

}

#Signin_up p{
    color: greenyellow;
    margin: 0;
}

#Signin_up svg{
    height:30px ;
    margin-right: 5px;
}

#page {
    
}
#section1{
    height: 100vh;
    background-color: rgb(178, 182, 180);
    position: relative;

    

}

#hero{
    display: flex;
    align-items: center;
    height: 100%;

}
#hero1{
    background-color: green;
    height: 100%;
    height: 50%;
}
#hero2{
    background-color: yellowgreen;
    height: 100%;
    display: flex;
    align-items:flex-end;
    
}
#hero2_image img{
    width: 80%;
}
#appstore, #googleplay{
    display: flex;
    align-items: center;
    height: 10px;
}

#hero1_3 {
    display: flex;
    align-items:center;
    height: 100px;
   background-color: red;
}

#hero1_4{
    background-color: white;
    display: flex;
    align-items: center;
}

#Discover_more {
    background-color: aquamarine;
    margin: 0%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#Discover_more p{
    margin: 0;
    margin-left: 20px;
}

#arrow{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#arrow svg{

}

/*______________________________________________________________________________________________________________________*/




#section2{
    
    background-color: rgb(178, 182, 180);
    width: 100%;
    
}

#logobar{
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
}
.logo{
    display: flex;
    justify-content: center;

}

.logoo{
    width: 75%;
}

#heros2 {
    background-color: blue;
    display: flex;
    justify-content: center;
    height: 600px;
    
}

#heros2_1{
    background-color: burlywood;
    width: calc(500%/12);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    
}

#heros2_1_bild{
    display: flex;
    justify-content: center;
}

#heros2_1_bild img{
    width: 90%;
    height: 90%;

#heros2_2{
    background-color:magenta;
    width: calc(700%/12);

}
#appfeautures{
    background-color: salmon;
    
}



}

#stapel{ 
    background-color: grey;
    display: flex;
    justify-content: left;
    

}

#stapel1{
    background-color: aqua;
    width: 50%;

    
}


#stapel2{
    background-color: yellowgreen;
    width: 50%;
}

#stapel1_1{
    background-color: black;
    height: calc(100%/3);
    display: flex;
    justify-content: left;
    
}

#stapel1_2{
    background-color:white;
    height: calc(100%/3);
    display: flex;
    justify-content: left;
    
}

#stapel1_3{
    background-color: black;
    height: calc(100%/3);
    display: flex;
    justify-content: left;
    
}

#stapel2_1{
    background-color: white;
    height: calc(100%/3);
    display: flex;
    justify-content: left;
    
}

#stapel2_2{
    background-color:black;
    height: calc(100%/3);
    display: flex;
    justify-content: left;
    
}

#stapel2_3{
    background-color: white;
    height: calc(100%/3);
    display: flex;
    justify-content: left;
    
}







/*______________________________________________________________________________________________________________________*/

#Rubrik_section3{
    background-color: blueviolet;
    text-align: center;
}



#image_section3{
    display: flex;
    justify-content: center;
}

#img_section3_1{
    background-color: violet;
    width: calc(100%/3);
    display: flex;
    justify-content: right;
    
}

#img_section3_2{
    background-color: white;
    width: calc(100%/3);
    display: flex;
    justify-content: center;
}

#img_section3_3{
    background-color: violet;
    width: calc(100%/3);
    display: flex;
    justify-content: left;
}
#Fotnot_section3{
    text-align: center;
}


/*______________________________________________________________________________________________________________________*/
#section4{
    background-color: darkcyan;
    height: 100vh;
}

#section4_over{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    height: 50%;
}



#sec4_over_1{
    background-color: skyblue;
    width: 50%;
}

#sec4_over_2{
    background-color: orangered;
    width: 50%;
}

#sec4_over1_punktlista1{
    background-color: black;
    display: flex;
    justify-content: left;
    
}

#sec4_over1_punktlista2{
    background-color: white;
    display: flex;
    justify-content: left;
    
}

#sec4_over1_punktlista3{
    background-color: black;
    display: flex;
    justify-content: left;
    
}



#section4_under{
    background-color: darkgoldenrod;
    display: flex;
    justify-content:center ;
    height: 50%;
    
}

#sec4_under_1{
    background-color: blueviolet;
    width: 50%;
}

#sec4_under_2{
    background-color: darkred;
    width: 50%;
}

#sec4_under2_sidolista{
    display: flex;
}

/*______________________________________________________________________________________________________________________*/

#section5{
    height: 100vh;
    display: flex;
    justify-content: center;
}

#sextion5_text{
    background-color: red;
    width: calc(100%/3);
}

#section5_testomanial1{
    background-color: yellow;
    width: calc(100%/3);

}

#section5_testomanial2{
    background-color: green;
    width: calc(100%/3);

}




/*______________________________________________________________________________________________________________________*/

#section6{
    background-color: magenta;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#sec6_1{
    background-color: white;
    width: calc(500%/12);
}

#sec6_2{
    background-color: slategray ;
    width: calc(700%/12);
}

#sec6_1_knappar{
    display: flex;
}

#telefon{
    background-color: aquamarine;
    width:40%;
}

#mail{
    background-color: maroon;
    width:70%;
}

#telefon_under{
    display: flex;
    justify-content: left;
}


#mail_under{
    display: flex;
    justify-content: left;
}