body{margin: 0;}

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(142, 195, 166);
    position: absolute;
    width: 100%;
}
#navbar1{
    display:flex;
    background-color: rgb(156, 124, 186);
}

#Silicon_hela{
    display: flex;
}

#silicon{
    margin-left: 3px;
}

#navbar2{
    background-color: rgb(168, 98, 98);
    display: flex;
    align-items: center;
}

#hela_darkmode{
    display: flex;
    align-items: center;
    background-color: tomato;
    height: 100%;
    width: 150px;
}

#darkmode_text{
    background-color: yellow;
    display: flex;
    align-items: center;
    
    height: 100%;
    color: blue;
    
    
    
}


#darkmode_text p{
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;

}

#Signin_up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 6px;
    background-color: rgb(68, 63, 170);
    width: 120px;
    height: 30px;
    vertical-align: middle;
    text-align: center;

}

#Signin_up p{
    color: greenyellow;
    margin: 0;
}

#Signin_up svg{
    height:30px ;
    margin-right: 5px;
}

#page {
    height: 100%;
}
#section1{
    height: 100vh;
    background-color: rgb(178, 182, 180);
    display: flex;
    justify-content: center;

}

#hero{
    display: flex;
    align-items: center;
    height: 100%;

}
#hero1{
    background-color: green;
    height: 100%;
    height: 50%;
}
#hero2{
    background-color: yellowgreen;
    height: 100%;
    display: flex;
    align-items:flex-end;
    
}
#hero2_image img{
    width: 80%;
}
#appstore, #googleplay{
    display: flex;
    align-items: center;
    height: 10px;
}

#hero1_3 {
    display: flex;
    align-items:center;
    height: 100px;
    /* flex-direction: column;
    justify-content: flex-end;
   height: 400px; */
   background-color: red;
}

#hero1_4{
    background-color: white;
    display: flex;
    align-items: center;
}

#Discover_more {
    background-color: aquamarine;
    margin: 0%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#Discover_more p{
    margin: 0;
    margin-left: 20px;
}

#arrow{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#arrow svg{

}

/*______________________________________________________________________________________________________________________*/




#section2{
    height: 100vh;
    background-color: rgb(178, 182, 180);
    
}

#logobar{
    height: 100px;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    position: absolute;
}

#logo1{
    background-color: yellow;
    margin-left:16.25%;
    margin-right: 2.5%;

}

#logo2{
    background-color: blanchedalmond;
    margin-left: 2.5%;
    margin-right: 2.5%;

    
}

#logo3{
    background-color: yellow;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}

#logo4{
    background-color: blanchedalmond;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}

#logo5{
    background-color: yellow;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
}

#logo6{
    background-color: blanchedalmond;
    margin-left: 2.5%;
    margin-right: 16.25%;
    
}

#heros2 {
    background-color: blue;
    display: flex;
    justify-content: center;
    
}

#heros2_1{
    background-color: burlywood;
    width: 50%;
    display: flex;
    justify-content: center;
    
}

#heros2_2{
    background-color: brown;
    width: 50%;
}
#appfeautures{
    background-color: salmon;
    
}

#stapel{ 
    background-color: grey;
    display: flex;
    justify-content: center;
    height: 70%;
}

#stapel1{
    background-color: aqua;
}


#stapel2{
    background-color: brown;
}

#stapel1_1{
    
}




/*______________________________________________________________________________________________________________________*/

#Rubrik_section3{
    background-color: blueviolet;
    text-align: center;
}



#image_section3{
    display: flex;
    justify-content: center;
}


#Fotnot_section3{
    text-align: center;
}


/*______________________________________________________________________________________________________________________*/
#section4{
    height: 100vh;
}

/*______________________________________________________________________________________________________________________*/

#section5{
    height: 100vh;
    display: flex;
    justify-content: center;
}

#sextion5_text{
    background-color: red;
}

#section5_testomanial1{
    background-color: yellow;
}

#section5_testomanial2{
    background-color: green;
}




/*______________________________________________________________________________________________________________________*/
